{% extends 'main/master_page.html' %}

{% load staticfiles %}

{% block content %}

    <section id="new_loader">
        <div class="lad" id="lad">
            <div class="loader-img">
                <a href="#">
                </a>
            </div>
        </div>
    </section>

    <!-- Preloader -->
    <section id="preloader" style="display:none">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- modal for incorrect information -->
    <div id="modal_feedback" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 40px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center; background-color: beige; padding: 10px;">
                    <h2 style="text-transform: uppercase; padding: 10px; margin: 5px;">Incorrect Username or Password</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <a style="cursor: default; font-weight: normal; font-family: 'Lane - Narrow'; font-size: 24px; line-height: 1; letter-spacing: 2px; text-transform: uppercase;">
                        <span>Crowd-sourced Labeling</span>
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">

                        <li>
                            <a href="\sign_up" style="font-family: 'Lane - Narrow'; font-weight: normal;">Create an Account</a>
                        </li>

                        <li>
                            <a href="/" style="font-family: 'Lane - Narrow'; font-weight: normal;">Home</a>
                        </li>

                    </ul>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section id="intro" class="dark-bg">

            <!-- Hero Slider Section -->
            <div class="owl-carousel fullwidth-slider white o-flow-hidden">
                <!--Slide-->
                <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="{% static 'main/img/full/bg_image.png' %}" style="height: 600px">
                    <!-- Content -->
                    <div class="full-cap-wraper overlay-dark80 light-color">
                        <div class="content-caption light-color">
                            <div class="container" style="width: 50%; margin: 0 auto;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="border-box" style="background-color: white; opacity: .7; border: 1px grey solid;">
                                            <div class="form-field-wrapper">
                                                <label for="login-email" style="font-weight: normal; font-size: 18px; text-transform: uppercase;">Email address</label>
                                                <input type="email" spellcheck="false" required="" placeholder="Enter your Email" style="font-size: 18px;" name="login-email" id="login-email" class="input-sm form-full" aria-required="true" autofocus>
                                            </div>
                                            <div class="form-field-wrapper">
                                                <label for="login-pass" style="font-weight: normal; font-size: 18px; text-transform: uppercase;">Password</label>
                                                <input type="password" required="" placeholder="Enter your Password"
                                                       style="font-size: 18px;" name="login-pass" id="login-pass"
                                                       class="input-sm form-full" aria-required="true"
                                                       onkeydown="Javascript: if (event.keyCode==13) cosfc_login();">
                                            </div>

                                            <button class="btn btn-md btn-black" onclick="cosfc_login();" style="font-family: 'Lane - Narrow'; font-weight: normal; font-size: 20px;">Sign In</button>
                                            <button class="btn btn-md"  style="background-color: lightpink; color: black; font-family: 'Lane - Narrow'; font-weight: normal; font-size: 20px;"><a href="\password_reset_request">Forgot Password</a></button>
                                            <!--a class="float-right">Forgot password?</a-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>

            </div>
            <!-- End Hero Slider Section -->
        </section>
        <!-- End Intro Section -->

        <!-- FOOTER -->
        <footer class="footer">

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="" style="font-family: 'Lane - Narrow'; font-size: 16px; text-transform: uppercase;">
                        © 2017 <b>Crafted lovingly in Charleston SC</b>. All Rights Reserved.
                        <br />
                        Built  by <b>Ayman Hajja, PhD</b>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->

    <form>{% csrf_token %}</form>

{% endblock %}
